@import '../../Styles/variables';

.orderList {
    display: flex;
    flex-direction: column;
    &__header{
        h1 {
            text-align: center;
            border-bottom: 1px solid gray;
            padding: 1rem 0.2rem 1rem 0.2rem;
            width: 90%;
            margin: 0 auto;
        }
    }
    &__list{
        padding-left: 0px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        height: 845px;
        margin: 0.45rem;
        border-radius: 0.75rem;
        margin-bottom: 0.65rem;
        align-content: center;
        padding-bottom: 0.5rem;
        transition: opacity 0.3s ease-in-out;
    }
    &__listItem {
        margin-right: 6px;
        width: 82%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__boxLeft {
        margin-top: 3rem;
    }
    &__item-image {
        border: solid 1px gray;
        border-radius: 15px;
        margin-left: 0.7rem;
    }
    &__boxCenter {
        margin-top: 3.2rem;
    }
    &__title {
        margin: 1rem 0rem 0rem 0rem;
        padding: 0;
    }
    &__productDetails {
        margin: 0.7rem 0rem 0.2rem 0rem;
        padding: 0;
    }
    &__boxRight {
        margin: 3.2rem -3rem .65rem 0rem;
    }

}