@font-face {
    font-family: 'Lush';
    src: url('Lush-Regular.woff2') format('woff2'),
        url('Lush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}