@import '../../Styles/variables';

.homePage{
    padding:0 2rem;
    display: flex;
    height: 95vh;
    &__content-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
    }
    &__left-side-wrapper {
        width: 65%;
    } 
    &__itemList-wrapper{
        margin-top: 1.5rem;
    }
    &__right-side-wrapper {
        width: 35%;
    } 
}