
.camera {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background to overlay on top */
    z-index: 999; /* Adjust the z-index to ensure it appears above other elements */
 
  }
   